<link rel="stylesheet" href="../Css/header.css">
<script src="../Js/header.js" defer></script>
<header>
    <div class="logo_text">
      <a href="../pantallaPrincipal.php"><img src="./img/img_index/logo.png" alt="logo"></a>
      <a href="../pantallaPrincipal.php">Dr. Vacunas</a>
    </div>
    <ul>
      <a href="./mascotas.php">Mascota</a>
      <a href="./razas.php">Razas</a>
      <a href="./vacunas.php">Vacunas</a>
    </ul>
    <div class="header__perfil">
      <!-- <h2 id="header__config">Perfil</h2> -->
      <img src="./img/img_pantallaPrincipal/perfil-del-usuario.png" id="header__config" alt="Foto perfil">
      <div class="config__perfil" id="config__perfil" style="display: none;">
        <a href="./salir.php">Salir</a>
      </div>
    </div>
</header>